{$DOMAIN} {
    encode zstd gzip

    header {
        Strict-Transport-Security "max-age=86400"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
        -Server
    }

    reverse_proxy ft-research:8000 {
        flush_interval -1
    }
}
